@model List<News>

<!-- Breadcumb Area Start -->
<div class="breadcumb-area section_padding_50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breacumb-content d-flex align-items-center justify-content-between">
                    <h1>@ViewBag.Category.Name</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Breadcumb Area End -->
@foreach (News category in Model)
{
    foreach (var item in category.Categories)
    {
        @await Component.InvokeAsync("PostSlider",new {cid=@item.Id})
    }
    break;
}

<!-- Editorial Area End -->
<section class="catagory-welcome-post-area section_padding_100">
    <div class="container">
        <div class="row">
            @foreach (News category in Model)
            {
                <div class="col-12 col-md-4">
                    <!-- Gazette Welcome Post -->
                    <div class="gazette-welcome-post">
                        <!-- Post Tag -->
                        <div class="gazette-post-tag">

                            @foreach (var item in category.Categories)
                            {
                                <a href="#">@item.Name</a>
                            }
                        </div>
                        <h2 class="font-pt">@category.Title</h2>
                        <p class="gazette-post-date">@category.CreatedAt</p>
                        <!-- Post Thumbnail -->
                        @if (category.NewsImages.Any())
                        {
                            <div class="blog-post-thumbnail my-5">
                                <img src="@category.NewsImages[0].ImagePath" alt="post-thumb">
                            </div>
                        }
                        <!-- Post Excerpt -->
                        <p>@category.Content</p>
                        <!-- Reading More -->
                        <div class="post-continue-reading-share mt-30">
                            <div class="post-continue-btn">
                                <a asp-controller="News" asp-action="Detail" asp-route-cid=@category.Id class="font-pt">Continue Reading <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-12">
                <div class="gazette-pagination-area">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next"><i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
